body {
    background-image: url(jarvis.jpeg);
}

.topo {

background-color:rgb(11, 11, 12); 
border: 1px solid hsl(240, 22%, 96%);
display: flex;
  align-items: stretch;
  
  position: center;

}

.topo:hover {
    margin: 0;
    background-color: rgba(0, 200, 252, 0.671);
    list-style: none; 
    transition: 1s;
    border-radius: 50px;
     }
     
.topo h1 {

        color: #fff;
        
        position:absolute;

}        
    
#arc:hover {
    height: 200px;
    width: 200px;
    transition: 1s;
    transform: rotate(180grad);
}
iframe {
    width: 760px;
    margin: 30px;
    
}
